<nav>
    <% if(locals.isAuthenticated) { %>
      <div>
        <p>Hello, <%= user.firstname %></p>
      </div>
      <div>
        <a href="/logout">Logout</a>
      </div>
      <% if(!(locals.user.member)) { %>
        <a href="#">Become a member</a>
      <% } %>
    <% } %>

    <% if(!(locals.isAuthenticated)) { %>
      <div>
        <a href="/register">Sign up</a>
        <a href="/login">Login</a>
      </div>
    <% } %>
</nav>