<nav>

    <% if(locals.user) { %>
      <div class="row">
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a href="/logout">Logout</a>
          <% if((locals.user && (!(locals.user.member)))) { %>
            <a href="/become-a-member">Become a member</a>
          <% } %>
        </div>
      </div>
      
    <% } %>

    <% if(!(locals.user)) { %>
      <div class="">
        <a href="/register">Sign up</a>
        <a href="/login">Login</a>
      </div>
    <% } %>
</nav>