<nav>
    <% if(locals.isAuthenticated) { %>
      <div>
        <p>
          Hello 
          <% if(user.member) { %> 
            Club Member
          <% } %>,
          <%= user.firstname %>

          <% if(user.admin) { %>
           (admin)
          <% } %></p>
      </div>
      <div>
        <a href="/logout">Logout</a>
      </div>
      <% if((locals.user && (!(locals.user.member)))) { %>
        <a href="/become-a-member">Become a member</a>
      <% } %>
    <% } %>

    <% if(!(locals.isAuthenticated)) { %>
      <div>
        <a href="/register">Sign up</a>
        <a href="/login">Login</a>
      </div>
    <% } %>
</nav>