.flex-col{
  display: flex;
  flex-direction: column;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
}

.halfWidth{
  width: 60%;
}

.row{
  display: flex;
  justify-content: space-between;
}

header{
  padding: 8px;
  margin: -8px;
  background-color: #b5b9b9;
}